.edit {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.delete {
    background-color: red;
    color: white;
    font-weight: bold;
}

.save {
    background-color: green;
    color: white;
    font-weight: bold;
}