.formUser {
    background: white;
    width: auto;
    height: auto;
}

.h1form {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 600px;
}

.uploadImg {
    margin-top: -10px;
    margin-left: 400px;
}

.saveButton {
    position: absolute;
    margin-left: 180px;
    margin-bottom: 60px;
}

.inputFormLogin {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 80px;
}