.inputsUserDetail {
    padding-top: 12px;
    margin-bottom: 30px;
    width: 1310px;
}

.h1User {
    margin-left: 500px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

.upload {
    width: 128px;
    height: 128px;
    margin-left: 990px;
    margin-top: -340px;
    position: absolute;
}